@using SistemaVotoElectronico.Modelos.Entidades
@using SistemaVotoElectronico.Modelos.Requests
@using SistemaVotoElectronico.Modelos.DTOs
@model ResetPasswordDto
<h2>Establecer Nueva Contraseña</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info">@TempData["Mensaje"]</div>
}
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">@ViewData["Error"]</div>
}

<form asp-action="ResetPassword" method="post">
    <div class="mb-3">
        <label>Código recibido (Token)</label>
        <input asp-for="Token" class="form-control" placeholder="Ej. A1B2C3" required />
    </div>
    <div class="mb-3">
        <label>Nueva Contraseña</label>
        <input asp-for="NuevaContrasena" class="form-control" type="password" required />
    </div>
    <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
</form>