@using SistemaVotoElectronico.Modelos.Entidades
@model PadronElectoral

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PadronElectoral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VotanteId" class="control-label"></label>
                <input asp-for="VotanteId" class="form-control" />
                <span asp-validation-for="VotanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EleccionId" class="control-label"></label>
                <input asp-for="EleccionId" class="form-control" />
                <span asp-validation-for="EleccionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesaId" class="control-label"></label>
                <input asp-for="MesaId" class="form-control" />
                <span asp-validation-for="MesaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEnlace" class="control-label"></label>
                <input asp-for="CodigoEnlace" class="form-control" />
                <span asp-validation-for="CodigoEnlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaGeneracionCodigo" class="control-label"></label>
                <input asp-for="FechaGeneracionCodigo" class="form-control" />
                <span asp-validation-for="FechaGeneracionCodigo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CodigoCanjeado" /> @Html.DisplayNameFor(model => model.CodigoCanjeado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaVoto" class="control-label"></label>
                <input asp-for="FechaVoto" class="form-control" />
                <span asp-validation-for="FechaVoto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VotoPlanchaRealizado" /> @Html.DisplayNameFor(model => model.VotoPlanchaRealizado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VotoNominalRealizado" /> @Html.DisplayNameFor(model => model.VotoNominalRealizado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
