@model SistemaVotoElectronico.Modelos.ListaElectoral

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ListaElectoral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroLista" class="control-label"></label>
                <input asp-for="NumeroLista" class="form-control" />
                <span asp-validation-for="NumeroLista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siglas" class="control-label"></label>
                <input asp-for="Siglas" class="form-control" />
                <span asp-validation-for="Siglas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logotipo" class="control-label"></label>
                <input asp-for="Logotipo" class="form-control" />
                <span asp-validation-for="Logotipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EleccionId" class="control-label"></label>
                <input asp-for="EleccionId" class="form-control" />
                <span asp-validation-for="EleccionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
