@model SistemaVotoElectronico.Modelos.ListaElectoral

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ListaElectoral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="Logotipo" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroLista" class="control-label"></label>
                <input asp-for="NumeroLista" class="form-control" />
                <span asp-validation-for="NumeroLista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siglas" class="control-label"></label>
                <input asp-for="Siglas" class="form-control" />
                <span asp-validation-for="Siglas" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Actualizar Logotipo</label>
                <input type="file" name="fotoUpload" class="form-control" accept="image/*" />
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EleccionId" class="control-label"></label>
                <input asp-for="EleccionId" class="form-control" />
                <span asp-validation-for="EleccionId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />

                @if (User.IsInRole("Candidato"))
                {
                    <a asp-controller="Home" asp-action="Perfil" class="btn btn-secondary">Cancelar y Volver</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
